@media only screen and (max-width: 768px) {
    .eltdf-woocommerce-page table.cart td.actions .coupon input[type=text] {
        width: 180px;
        margin: 0 17px 0 0;
        padding: 9px 20px
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-woocommerce-page table.cart tr td, .eltdf-woocommerce-page table.cart tr th {
        font-size: 12px
    }

    .eltdf-woocommerce-page table.cart tr.cart_item td.product-thumbnail {
        width: auto;
        padding-right: 0
    }

    .eltdf-woocommerce-page table.cart tr.cart_item td.product-thumbnail img {
        display: none
    }

    .eltdf-woocommerce-page table.cart td.actions .coupon {
        margin: 0 0 20px
    }

    .eltdf-woocommerce-page table.cart td.actions .coupon input[type=text] {
        width: 160px;
        padding: 9px 15px;
        margin: 0 10px 20px 0
    }

    .eltdf-woocommerce-page table.cart td.actions .coupon, .eltdf-woocommerce-page table.cart td.actions > input {
        float: none;
        display: block
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-woocommerce-page .woocommerce-checkout .col-1, .eltdf-woocommerce-page .woocommerce-checkout .col-2 {
        width: 100%
    }

    .eltdf-woocommerce-page .woocommerce-checkout .col-1 {
        margin: 0 0 25px
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-woocommerce-page .woocommerce-checkout .col-1 .form-row, .eltdf-woocommerce-page .woocommerce-checkout .col-2 .form-row {
        width: 100%;
        margin: 0;
        float: none
    }
}

@media only screen and (max-width: 480px) {
    .eltdf-woocommerce-page .woocommerce-checkout .woocommerce-checkout-payment ul li.payment_method_paypal label img {
        display: none
    }
}

@media only screen and (max-width: 1024px) {
    .woocommerce-page .eltdf-content .wc-forward:not(.added_to_cart):not(.checkout-button), .woocommerce-page .eltdf-content a.added_to_cart, .woocommerce-page .eltdf-content a.button, .woocommerce-page .eltdf-content button[type=submit]:not(.eltdf-search-submit), .woocommerce-page .eltdf-content input[type=submit], div.woocommerce .wc-forward:not(.added_to_cart):not(.checkout-button), div.woocommerce a.added_to_cart, div.woocommerce a.button, div.woocommerce button[type=submit]:not(.eltdf-search-submit), div.woocommerce input[type=submit] {
        padding: 7px 35px
    }

    .eltdf-woo-single-page .eltdf-single-product-content .eltdf-new-product, .eltdf-woo-single-page .eltdf-single-product-content .eltdf-sold {
        right: 0
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-woocommerce-page.woocommerce-order-received .woocommerce .col2-set.addresses .col-1, .eltdf-woocommerce-page.woocommerce-order-received .woocommerce .col2-set.addresses .col-2 {
        width: 100%
    }

    .eltdf-woocommerce-page.woocommerce-order-received .woocommerce .col2-set.addresses .col-1 {
        margin: 0 0 25px
    }

    .eltdf-woo-single-page.eltdf-woo-single-thumb-on-left-side .eltdf-single-product-content .eltdf-onsale {
        left: 10px
    }

    .eltdf-woocommerce-page .woocommerce-error, .eltdf-woocommerce-page .woocommerce-info, .eltdf-woocommerce-page .woocommerce-message {
        padding: 17px 25px !important
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-woocommerce-page .woocommerce-error, .eltdf-woocommerce-page .woocommerce-info, .eltdf-woocommerce-page .woocommerce-message {
        padding: 14px 20px;
        line-height: 2em
    }

    .eltdf-woocommerce-page .woocommerce-error a, .eltdf-woocommerce-page .woocommerce-info a, .eltdf-woocommerce-page .woocommerce-message a {
        float: none;
        margin: 0 70% 15px 0 !important;
        white-space: nowrap
    }
}

@media only screen and (max-width: 768px) {
    .woocommerce-page .eltdf-content .eltdf-quantity-buttons .eltdf-quantity-input, .woocommerce-page .eltdf-content .eltdf-quantity-buttons .eltdf-quantity-minus, .woocommerce-page .eltdf-content .eltdf-quantity-buttons .eltdf-quantity-plus, div.woocommerce .eltdf-quantity-buttons .eltdf-quantity-input, div.woocommerce .eltdf-quantity-buttons .eltdf-quantity-minus, div.woocommerce .eltdf-quantity-buttons .eltdf-quantity-plus {
        font-size: 13px
    }

    .woocommerce-page .eltdf-content .eltdf-quantity-buttons .eltdf-quantity-input, div.woocommerce .eltdf-quantity-buttons .eltdf-quantity-input {
        height: 38px;
        width: 38px;
        margin: 0 19px 0 0;
        line-height: 36px
    }

    .woocommerce-page .eltdf-content .eltdf-quantity-buttons .eltdf-quantity-minus, .woocommerce-page .eltdf-content .eltdf-quantity-buttons .eltdf-quantity-plus, div.woocommerce .eltdf-quantity-buttons .eltdf-quantity-minus, div.woocommerce .eltdf-quantity-buttons .eltdf-quantity-plus {
        width: 19px;
        height: 19px;
        line-height: 17px
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-woocommerce-page .woocommerce-ordering, .eltdf-woocommerce-page .woocommerce-result-count {
        width: 100%;
        margin-bottom: 30px
    }

    .eltdf-woocommerce-page .woocommerce-ordering {
        text-align: initial
    }

    .eltdf-woocommerce-page .woocommerce-ordering .orderby {
        display: block
    }
}

@media only screen and (max-width: 1024px) {
    .eltdf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation {
        width: 28%
    }

    .eltdf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-content {
        width: 72%;
        padding: 0 0 0 20px
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-content, .eltdf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation {
        float: none;
        width: 100%;
        padding: 0
    }

    .eltdf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation ul {
        border-right: none
    }

    .eltdf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation ul li:not(:last-child) {
        margin: 0 0 14px
    }

    .eltdf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-content {
        margin: 40px 0 0
    }

    .eltdf-woocommerce-page.woocommerce-account .woocommerce .col2-set.addresses .col-1, .eltdf-woocommerce-page.woocommerce-account .woocommerce .col2-set.addresses .col-2 {
        width: 100%
    }

    .eltdf-woocommerce-page.woocommerce-account .woocommerce .col2-set.addresses .col-1 {
        margin: 0 0 25px
    }
}

@media only screen and (max-width: 1440px) {
    .woocommerce.columns-6 > .products > .product {
        width: 20%
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1201px) {
    .woocommerce.columns-6 > .products > .product:nth-child(5n+1) {
        clear: both
    }
}

@media only screen and (max-width: 1200px) {
    .woocommerce.columns-5 > .products > .product, .woocommerce.columns-6 > .products > .product {
        width: 25%
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
    .woocommerce.columns-5 > .products > .product:nth-child(4n+1), .woocommerce.columns-6 > .products > .product:nth-child(4n+1) {
        clear: both
    }
}

@media only screen and (max-width: 1024px) {
    .eltdf-woocommerce-columns-3 .cross-sells > .products > .product, .eltdf-woocommerce-columns-3 .eltdf-pl-main-holder > .products > .product, .eltdf-woocommerce-columns-3 .related.products > .products > .product, .eltdf-woocommerce-columns-3 .upsells.products > .products > .product, .eltdf-woocommerce-columns-4 .cross-sells > .products > .product, .eltdf-woocommerce-columns-4 .eltdf-pl-main-holder > .products > .product, .eltdf-woocommerce-columns-4 .related.products > .products > .product, .eltdf-woocommerce-columns-4 .upsells.products > .products > .product, .woocommerce.columns-4 > .products > .product, .woocommerce.columns-5 > .products > .product, .woocommerce.columns-6 > .products > .product {
        width: 33.33333%
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .eltdf-woocommerce-columns-3 .cross-sells > .products > .product:nth-child(3n+1), .eltdf-woocommerce-columns-3 .eltdf-pl-main-holder > .products > .product:nth-child(3n+1), .eltdf-woocommerce-columns-3 .related.products > .products > .product:nth-child(3n+1), .eltdf-woocommerce-columns-3 .upsells.products > .products > .product:nth-child(3n+1), .eltdf-woocommerce-columns-4 .cross-sells > .products > .product:nth-child(3n+1), .eltdf-woocommerce-columns-4 .eltdf-pl-main-holder > .products > .product:nth-child(3n+1), .eltdf-woocommerce-columns-4 .related.products > .products > .product:nth-child(3n+1), .eltdf-woocommerce-columns-4 .upsells.products > .products > .product:nth-child(3n+1), .woocommerce.columns-4 > .products > .product:nth-child(3n+1), .woocommerce.columns-5 > .products > .product:nth-child(3n+1), .woocommerce.columns-6 > .products > .product:nth-child(3n+1) {
        clear: both
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-woocommerce-columns-3 .cross-sells > .products > .product, .eltdf-woocommerce-columns-3 .eltdf-pl-main-holder > .products > .product, .eltdf-woocommerce-columns-3 .related.products > .products > .product, .eltdf-woocommerce-columns-3 .upsells.products > .products > .product, .eltdf-woocommerce-columns-4 .cross-sells > .products > .product, .eltdf-woocommerce-columns-4 .eltdf-pl-main-holder > .products > .product, .eltdf-woocommerce-columns-4 .related.products > .products > .product, .eltdf-woocommerce-columns-4 .upsells.products > .products > .product, .woocommerce.columns-3 > .products > .product, .woocommerce.columns-4 > .products > .product, .woocommerce.columns-5 > .products > .product, .woocommerce.columns-6 > .products > .product {
        width: 50%
    }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
    .eltdf-woocommerce-columns-3 .cross-sells > .products > .product:nth-child(2n+1), .eltdf-woocommerce-columns-3 .eltdf-pl-main-holder > .products > .product:nth-child(2n+1), .eltdf-woocommerce-columns-3 .related.products > .products > .product:nth-child(2n+1), .eltdf-woocommerce-columns-3 .upsells.products > .products > .product:nth-child(2n+1), .eltdf-woocommerce-columns-4 .cross-sells > .products > .product:nth-child(2n+1), .eltdf-woocommerce-columns-4 .eltdf-pl-main-holder > .products > .product:nth-child(2n+1), .eltdf-woocommerce-columns-4 .related.products > .products > .product:nth-child(2n+1), .eltdf-woocommerce-columns-4 .upsells.products > .products > .product:nth-child(2n+1), .woocommerce.columns-3 > .products > .product:nth-child(2n+1), .woocommerce.columns-4 > .products > .product:nth-child(2n+1), .woocommerce.columns-5 > .products > .product:nth-child(2n+1), .woocommerce.columns-6 > .products > .product:nth-child(2n+1) {
        clear: both
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    div.woocommerce > .single-product .woocommerce-tabs ul.tabs > li a {
        padding: 12px 7px
    }
}

@media only screen and (max-width: 1024px) {
    div.woocommerce > .single-product .woocommerce-tabs ul.tabs > li a {
        padding: 13px 10px
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-woocommerce-columns-3 .cross-sells > .products > .product, .eltdf-woocommerce-columns-3 .eltdf-pl-main-holder > .products > .product, .eltdf-woocommerce-columns-3 .related.products > .products > .product, .eltdf-woocommerce-columns-3 .upsells.products > .products > .product, .eltdf-woocommerce-columns-4 .cross-sells > .products > .product, .eltdf-woocommerce-columns-4 .eltdf-pl-main-holder > .products > .product, .eltdf-woocommerce-columns-4 .related.products > .products > .product, .eltdf-woocommerce-columns-4 .upsells.products > .products > .product, .woocommerce.columns-2 > .products > .product, .woocommerce.columns-3 > .products > .product, .woocommerce.columns-4 > .products > .product, .woocommerce.columns-5 > .products > .product, .woocommerce.columns-6 > .products > .product {
        width: 100%
    }

    div.woocommerce > .single-product .images.woocommerce-product-gallery--columns-4 .woocommerce-product-gallery__image:not(:first-child) {
        width: 50%
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .eltdf-woo-single-page .woocommerce-tabs ul.tabs > li a {
        padding: 12px 7px
    }
}

@media only screen and (max-width: 1024px) {
    .eltdf-woo-single-page .eltdf-single-product-content .eltdf-single-product-summary, .eltdf-woo-single-page .eltdf-single-product-content .images {
        float: none;
        width: 100%;
        padding: 0
    }

    .eltdf-woo-single-page .eltdf-single-product-content .images .woocommerce-product-gallery__trigger {
        right: 10px
    }

    .eltdf-woo-single-page .eltdf-single-product-content .eltdf-single-product-summary {
        margin: 30px 0 0
    }

    .eltdf-woo-single-page .woocommerce-tabs ul.tabs > li a {
        padding: 13px 10px
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-woo-single-page .eltdf-single-product-content .images.woocommerce-product-gallery--columns-4 .woocommerce-product-gallery__image:not(:first-child), .eltdf-woo-single-page.eltdf-woo-single-thumb-on-left-side .eltdf-single-product-content .images.woocommerce-product-gallery--columns-4 .woocommerce-product-gallery__image:not(:first-child) {
        width: 50%
    }
}

@media only screen and (max-width: 1440px) {
    .eltdf-plc-holder .eltdf-plc-item .eltdf-plc-image-outer .eltdf-plc-btn-overlay-outer {
        padding: 15px
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-shopping-cart-dropdown ul {
        margin: 20px
    }

    .eltdf-plc-holder.eltdf-simple-type .eltdf-plc-image-outer, .eltdf-plc-holder.eltdf-simple-type .eltdf-plc-text-wrapper {
        display: inline-block;
        width: 100%;
        padding: 0
    }

    .eltdf-plc-holder.eltdf-simple-type .eltdf-plc-text-wrapper {
        margin: 30px 0 40px
    }
}

.cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea {
    height: 116px
}

.eltdf-page-footer .eltdf-footer-top-holder {
    border-width: 1px
}

.eltdf-header-box .eltdf-top-bar-background {
    height: 55px
}

.eltdf-page-header .eltdf-menu-area {
    background-color: transparent
}

.eltdf-side-menu {
    text-align: center
}

.eltdf-side-menu .widget img {
    margin: 0 auto
}

@media only screen and (max-width: 1200px) {
    .eltdf-container-inner, .eltdf-elementor-row-grid-section > .elementor-container, .eltdf-grid, .eltdf-row-grid-section, .eltdf-wide-dropdown-menu-content-in-grid .eltdf-drop-down .wide .second .inner > ul {
        width: 768px
    }
}

@media only screen and (max-width: 1024px) {
    body:not(.eltdf-content-is-behind-header):not(.error404) .eltdf-content {
        margin-top: 0 !important
    }

    .eltdf-hide-on-tablet {
        display: none !important
    }

    .eltdf-double-grid-line-one, .eltdf-double-grid-line-two, .eltdf-grid-lines-holder {
        display: none
    }

    .eltdf-container-inner, .eltdf-elementor-row-grid-section > .elementor-container, .eltdf-grid, .eltdf-row-grid-section, .eltdf-wide-dropdown-menu-content-in-grid .eltdf-drop-down .wide .second .inner > ul {
        width: 768px
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-container-inner, .eltdf-elementor-row-grid-section > .elementor-container, .eltdf-grid, .eltdf-row-grid-section, .eltdf-wide-dropdown-menu-content-in-grid .eltdf-drop-down .wide .second .inner > ul {
        width: 600px
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-hide-on-mobile {
        display: none !important
    }

    .eltdf-container-inner, .eltdf-elementor-row-grid-section > .elementor-container, .eltdf-grid, .eltdf-row-grid-section, .eltdf-wide-dropdown-menu-content-in-grid .eltdf-drop-down .wide .second .inner > ul {
        width: 420px
    }
}

@media only screen and (max-width: 480px) {
    .eltdf-container-inner, .eltdf-elementor-row-grid-section > .elementor-container, .eltdf-grid, .eltdf-row-grid-section, .eltdf-wide-dropdown-menu-content-in-grid .eltdf-drop-down .wide .second .inner > ul {
        width: 300px
    }
}

@media only screen and (max-width: 320px) {
    .eltdf-container-inner, .eltdf-elementor-row-grid-section > .elementor-container, .eltdf-grid, .eltdf-row-grid-section, .eltdf-wide-dropdown-menu-content-in-grid .eltdf-drop-down .wide .second .inner > ul {
        width: 90%
    }
}

@media only screen and (max-width: 1200px) {
    .eltdf-boxed .eltdf-wrapper .eltdf-footer-inner, .eltdf-boxed .eltdf-wrapper .eltdf-wrapper-inner {
        width: 1000px
    }
}

@media only screen and (max-width: 1024px) {
    .eltdf-boxed .eltdf-wrapper .eltdf-footer-inner, .eltdf-boxed .eltdf-wrapper .eltdf-wrapper-inner {
        width: 818px
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-boxed .eltdf-wrapper .eltdf-footer-inner, .eltdf-boxed .eltdf-wrapper .eltdf-wrapper-inner {
        width: 650px
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-boxed .eltdf-wrapper .eltdf-footer-inner, .eltdf-boxed .eltdf-wrapper .eltdf-wrapper-inner {
        width: 470px
    }
}

@media only screen and (max-width: 480px) {
    .eltdf-boxed .eltdf-wrapper .eltdf-footer-inner, .eltdf-boxed .eltdf-wrapper .eltdf-wrapper-inner {
        width: 350px
    }
}

@media only screen and (max-width: 320px) {
    .eltdf-boxed .eltdf-wrapper .eltdf-footer-inner, .eltdf-boxed .eltdf-wrapper .eltdf-wrapper-inner {
        width: 92%
    }
}

@media only screen and (max-width: 1280px) {
    .eltdf-huge-space .eltdf-outer-space {
        margin: 0 -25px
    }

    .eltdf-huge-space .eltdf-outer-space .eltdf-item-space {
        padding: 0 25px;
        margin: 0 0 50px
    }

    .eltdf-huge-space.eltdf-disable-bottom-space {
        margin-bottom: -50px
    }

    .eltdf-huge-space.eltdf-columns-has-side-space {
        padding: 0 50px
    }
}

@media only screen and (max-width: 1440px) {
    .eltdf-grid-list.eltdf-six-columns .eltdf-item-space, .eltdf-grid-list.eltdf-six-columns .eltdf-masonry-grid-sizer {
        width: 20%
    }

    .eltdf-grid-list.eltdf-six-columns .eltdf-item-space.eltdf-masonry-size-large-width, .eltdf-grid-list.eltdf-six-columns .eltdf-item-space.eltdf-masonry-size-large-width-height {
        width: 40%
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
    .eltdf-grid-list.eltdf-six-columns .eltdf-item-space:nth-child(5n+1) {
        clear: both
    }
}

@media only screen and (max-width: 1366px) {
    .eltdf-grid-list.eltdf-five-columns .eltdf-item-space, .eltdf-grid-list.eltdf-five-columns .eltdf-masonry-grid-sizer {
        width: 25%
    }

    .eltdf-grid-list.eltdf-five-columns .eltdf-item-space.eltdf-masonry-size-large-width, .eltdf-grid-list.eltdf-five-columns .eltdf-item-space.eltdf-masonry-size-large-width-height {
        width: 50%
    }

    .eltdf-grid-list.eltdf-six-columns .eltdf-item-space, .eltdf-grid-list.eltdf-six-columns .eltdf-masonry-grid-sizer {
        width: 25%
    }

    .eltdf-grid-list.eltdf-six-columns .eltdf-item-space.eltdf-masonry-size-large-width, .eltdf-grid-list.eltdf-six-columns .eltdf-item-space.eltdf-masonry-size-large-width-height {
        width: 50%
    }

    .eltdf-header-vertical .eltdf-vertical-alignment-center .eltdf-vertical-menu-outer {
        padding: 0 5%
    }

    .eltdf-header-vertical .eltdf-vertical-menu-area {
        padding: 5% 25px 5% 77px
    }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
    .eltdf-grid-list.eltdf-five-columns .eltdf-item-space:nth-child(4n+1), .eltdf-grid-list.eltdf-six-columns .eltdf-item-space:nth-child(4n+1) {
        clear: both
    }
}

@media only screen and (max-width: 1024px) {
    .eltdf-grid-list.eltdf-four-columns .eltdf-item-space, .eltdf-grid-list.eltdf-four-columns .eltdf-masonry-grid-sizer {
        width: 33.33333%
    }

    .eltdf-grid-list.eltdf-four-columns .eltdf-item-space.eltdf-masonry-size-large-width, .eltdf-grid-list.eltdf-four-columns .eltdf-item-space.eltdf-masonry-size-large-width-height {
        width: 66.66667%
    }

    .eltdf-grid-list.eltdf-five-columns .eltdf-item-space, .eltdf-grid-list.eltdf-five-columns .eltdf-masonry-grid-sizer {
        width: 33.33333%
    }

    .eltdf-grid-list.eltdf-five-columns .eltdf-item-space.eltdf-masonry-size-large-width, .eltdf-grid-list.eltdf-five-columns .eltdf-item-space.eltdf-masonry-size-large-width-height {
        width: 66.66667%
    }

    .eltdf-grid-list.eltdf-six-columns .eltdf-item-space, .eltdf-grid-list.eltdf-six-columns .eltdf-masonry-grid-sizer {
        width: 33.33333%
    }

    .eltdf-grid-list.eltdf-six-columns .eltdf-item-space.eltdf-masonry-size-large-width, .eltdf-grid-list.eltdf-six-columns .eltdf-item-space.eltdf-masonry-size-large-width-height {
        width: 66.66667%
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .eltdf-grid-list.eltdf-five-columns .eltdf-item-space:nth-child(3n+1), .eltdf-grid-list.eltdf-four-columns .eltdf-item-space:nth-child(3n+1), .eltdf-grid-list.eltdf-six-columns .eltdf-item-space:nth-child(3n+1) {
        clear: both
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-grid-list.eltdf-three-columns .eltdf-item-space, .eltdf-grid-list.eltdf-three-columns .eltdf-masonry-grid-sizer {
        width: 50%
    }

    .eltdf-grid-list.eltdf-three-columns .eltdf-item-space.eltdf-masonry-size-large-width, .eltdf-grid-list.eltdf-three-columns .eltdf-item-space.eltdf-masonry-size-large-width-height {
        width: 100%
    }

    .eltdf-grid-list.eltdf-four-columns .eltdf-item-space, .eltdf-grid-list.eltdf-four-columns .eltdf-masonry-grid-sizer {
        width: 50%
    }

    .eltdf-grid-list.eltdf-four-columns .eltdf-item-space.eltdf-masonry-size-large-width, .eltdf-grid-list.eltdf-four-columns .eltdf-item-space.eltdf-masonry-size-large-width-height {
        width: 100%
    }

    .eltdf-grid-list.eltdf-five-columns .eltdf-item-space, .eltdf-grid-list.eltdf-five-columns .eltdf-masonry-grid-sizer {
        width: 50%
    }

    .eltdf-grid-list.eltdf-five-columns .eltdf-item-space.eltdf-masonry-size-large-width, .eltdf-grid-list.eltdf-five-columns .eltdf-item-space.eltdf-masonry-size-large-width-height {
        width: 100%
    }

    .eltdf-grid-list.eltdf-six-columns .eltdf-item-space, .eltdf-grid-list.eltdf-six-columns .eltdf-masonry-grid-sizer {
        width: 50%
    }

    .eltdf-grid-list.eltdf-six-columns .eltdf-item-space.eltdf-masonry-size-large-width, .eltdf-grid-list.eltdf-six-columns .eltdf-item-space.eltdf-masonry-size-large-width-height {
        width: 100%
    }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
    .eltdf-grid-list.eltdf-five-columns .eltdf-item-space:nth-child(2n+1), .eltdf-grid-list.eltdf-four-columns .eltdf-item-space:nth-child(2n+1), .eltdf-grid-list.eltdf-six-columns .eltdf-item-space:nth-child(2n+1), .eltdf-grid-list.eltdf-three-columns .eltdf-item-space:nth-child(2n+1) {
        clear: both
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-grid-list.eltdf-five-columns .eltdf-item-space, .eltdf-grid-list.eltdf-five-columns .eltdf-masonry-grid-sizer, .eltdf-grid-list.eltdf-four-columns .eltdf-item-space, .eltdf-grid-list.eltdf-four-columns .eltdf-masonry-grid-sizer, .eltdf-grid-list.eltdf-six-columns .eltdf-item-space, .eltdf-grid-list.eltdf-six-columns .eltdf-masonry-grid-sizer, .eltdf-grid-list.eltdf-three-columns .eltdf-item-space, .eltdf-grid-list.eltdf-three-columns .eltdf-masonry-grid-sizer, .eltdf-grid-list.eltdf-two-columns .eltdf-item-space, .eltdf-grid-list.eltdf-two-columns .eltdf-masonry-grid-sizer {
        width: 100%
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-related-posts-holder .eltdf-related-post {
        width: 50% !important
    }
}

@media only screen and (max-width: 480px) {
    .eltdf-related-posts-holder .eltdf-related-post {
        width: 100% !important
    }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
    .eltdf-page-footer .eltdf-column-content.eltdf-grid-col-3 {
        width: 50%;
        float: left
    }

    .eltdf-page-footer .eltdf-column-content.eltdf-grid-col-3:nth-child(2n+1) {
        clear: both
    }

    .eltdf-page-footer .eltdf-column-content.eltdf-grid-col-3:nth-child(3), .eltdf-page-footer .eltdf-column-content.eltdf-grid-col-3:nth-child(4) {
        margin-top: 30px
    }

    .eltdf-page-footer .eltdf-column-content.eltdf-grid-col-4 {
        width: 33.33333333333333%;
        float: left
    }

    .eltdf-instagram-list-holder.eltdf-il-three-columns .eltdf-il-item:nth-child(2n+1) {
        clear: both
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-page-footer .eltdf-column-content:not(:first-child) {
        margin-top: 30px
    }

    .eltdf-page-footer .eltdf-footer-top-holder .eltdf-footer-top-alignment-center .widget_nav_menu ul li {
        display: block;
        margin: 13px 0
    }

    .eltdf-page-footer .eltdf-footer-bottom-holder .eltdf-footer-bottom-inner .textwidget ul li, .eltdf-page-footer .eltdf-footer-bottom-holder .eltdf-footer-bottom-inner .widget_nav_menu ul li {
        display: block;
        margin: 5px 0 !important
    }
}

@media only screen and (max-width: 1200px) {
    .eltdf-boxed .eltdf-page-header .eltdf-fixed-wrapper.fixed {
        width: 1000px
    }
}

@media only screen and (min-width: 1025px) {
    .error404.eltdf-header-vertical .eltdf-content {
        margin: 0 !important
    }
}

@media only screen and (max-width: 1440px) {
    .eltdf-header-vertical .eltdf-container-inner, .eltdf-header-vertical .eltdf-grid, .eltdf-header-vertical .eltdf-row-grid-section {
        width: 950px
    }
}

@media only screen and (max-width: 1200px) {
    .eltdf-header-vertical .eltdf-container-inner, .eltdf-header-vertical .eltdf-grid, .eltdf-header-vertical .eltdf-row-grid-section {
        width: 768px
    }
}

@media only screen and (max-width: 1024px) {
    .eltdf-header-vertical .eltdf-vertical-menu-area, .eltdf-page-header {
        display: none
    }

    .eltdf-header-vertical .eltdf-content, .eltdf-header-vertical footer {
        padding-left: 0
    }

    .eltdf-header-vertical .eltdf-container-inner, .eltdf-header-vertical .eltdf-grid, .eltdf-header-vertical .eltdf-row-grid-section {
        width: 768px
    }

    .eltdf-mobile-header {
        display: block
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-header-vertical .eltdf-container-inner, .eltdf-header-vertical .eltdf-grid, .eltdf-header-vertical .eltdf-row-grid-section {
        width: 600px
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-header-vertical .eltdf-container-inner, .eltdf-header-vertical .eltdf-grid, .eltdf-header-vertical .eltdf-row-grid-section {
        width: 420px
    }
}

@media only screen and (max-width: 480px) {
    .eltdf-header-vertical .eltdf-container-inner, .eltdf-header-vertical .eltdf-grid, .eltdf-header-vertical .eltdf-row-grid-section {
        width: 300px
    }
}

@media only screen and (max-width: 320px) {
    .eltdf-header-vertical .eltdf-container-inner, .eltdf-header-vertical .eltdf-grid, .eltdf-header-vertical .eltdf-row-grid-section {
        width: 90%
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-paspartu-enabled .eltdf-mobile-header .eltdf-grid {
        width: 90%
    }
}

@media only screen and (max-width: 1200px) {
    .eltdf-boxed .eltdf-page-header .eltdf-sticky-header {
        width: 1000px
    }
}

@media only screen and (max-width: 1024px) {
    .eltdf-boxed.eltdf-sticky-up-mobile-header .mobile-header-appear .eltdf-mobile-header-inner {
        width: 818px;
        left: auto
    }

    .eltdf-top-bar {
        display: none
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-boxed.eltdf-sticky-up-mobile-header .mobile-header-appear .eltdf-mobile-header-inner {
        width: 650px
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-boxed.eltdf-sticky-up-mobile-header .mobile-header-appear .eltdf-mobile-header-inner {
        width: 470px
    }
}

@media only screen and (max-width: 480px) {
    .eltdf-boxed.eltdf-sticky-up-mobile-header .mobile-header-appear .eltdf-mobile-header-inner {
        width: 350px
    }
}

@media only screen and (max-width: 320px) {
    .eltdf-boxed.eltdf-sticky-up-mobile-header .mobile-header-appear .eltdf-mobile-header-inner {
        width: 92%
    }
}

@media only screen and (max-width: 1024px) {
    .eltdf-search-page-holder article .eltdf-post-image {
        width: 80px
    }

    .eltdf-search-page-holder article .eltdf-post-title-area {
        padding: 0 0 0 105px;
        min-height: 80px
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-search-page-holder article .eltdf-post-image {
        width: 60px
    }

    .eltdf-search-page-holder article .eltdf-post-title-area {
        padding: 0 0 0 80px;
        min-height: 60px
    }

    .eltdf-subscribe-popup-holder .eltdf-sp-inner {
        min-height: 450px
    }
}

@media only screen and (max-width: 1280px) {
    .eltdf-subscribe-popup-holder .eltdf-sp-inner {
        width: 63%
    }
}

@media only screen and (max-width: 1024px) {
    .eltdf-subscribe-popup-holder .eltdf-sp-inner {
        width: 75%
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-subscribe-popup-holder .eltdf-sp-inner {
        width: 90%
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-subscribe-popup-holder .eltdf-sp-content-container {
        width: 100%;
        padding: 0 40px
    }

    .eltdf-subscribe-popup-holder .eltdf-sp-background {
        display: none
    }
}

@media only screen and (max-width: 1024px) {
    .eltdf-title-holder:not(.eltdf-bg-responsive-disabled).eltdf-has-bg-image {
        height: auto !important;
        background-image: none !important
    }

    .eltdf-title-holder:not(.eltdf-bg-responsive-disabled).eltdf-has-bg-image .eltdf-title-image {
        display: block
    }

    .eltdf-title-holder:not(.eltdf-bg-responsive-disabled).eltdf-has-bg-image .eltdf-title-wrapper {
        position: absolute;
        top: 50%;
        left: 0;
        height: 100% !important;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%)
    }

    .eltdf-title-holder:not(.eltdf-bg-responsive-disabled).eltdf-title-va-header-bottom {
        height: auto !important
    }

    .eltdf-title-holder:not(.eltdf-bg-responsive-disabled).eltdf-title-va-header-bottom .eltdf-title-wrapper {
        padding-top: 0 !important
    }

    .eltdf-title-holder.eltdf-centered-type .eltdf-page-subtitle {
        padding: 0 !important
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-title-holder.eltdf-centered-type .eltdf-title-inner .eltdf-title-holder-inner .eltdf-title-decor {
        display: none
    }
}

@media only screen and (max-width: 1024px) {
    .eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-breadcrumbs-info, .eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-title-info {
        display: block;
        width: 100%
    }

    .eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-breadcrumbs-info {
        margin: 7px 0 0;
        text-align: initial;
        white-space: inherit
    }

    .eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-page-title {
        margin: 23px 0 0
    }

    .eltdf-portfolio-single-holder .eltdf-ps-info-holder {
        margin: 30px 0 0 !important
    }
}

@media only screen and (max-width: 480px) {
    .eltdf-portfolio-vertical-loop-holder .eltdf-pvl-navigation-holder {
        height: 34px
    }

    .eltdf-portfolio-vertical-loop-holder article .eltdf-pvli-content-holder .eltdf-pvli-image-holder .eltdf-pvli-image-inner .eltdf-pvli-image-title .eltdf-pvli-image-title-inner .eltdf-pvli-title {
        font-size: 48px
    }

    .eltdf-portfolio-vertical-loop-holder article.next-item .eltdf-pvli-content-holder .eltdf-pvli-background-text {
        font-size: 140px
    }

    .eltdf-testimonials-holder .eltdf-testimonials .owl-nav {
        display: none
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-portfolio-single-holder .eltdf-ps-image-holder.eltdf-ps-gallery-images .eltdf-ps-image {
        width: 100% !important
    }

    .eltdf-testimonials-holder.eltdf-testimonials-image-pagination .eltdf-testimonials-image-pagination-inner {
        padding: 0 10px 0 30%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }

    .eltdf-testimonials-holder.eltdf-testimonials-image-pagination .eltdf-testimonials-image-pagination-inner .eltdf-testimonial-text {
        font-size: 15px;
        line-height: 27px
    }
}

@media only screen and (max-width: 1440px) {
    .eltdf-testimonials-holder .eltdf-testimonials {
        padding: 0 10%
    }

    .eltdf-testimonials-holder .eltdf-testimonials .eltdf-testimonial-text {
        padding: 0
    }

    .eltdf-testimonials-holder .eltdf-testimonials .owl-nav .owl-prev {
        left: 1%
    }

    .eltdf-testimonials-holder .eltdf-testimonials .owl-nav .owl-next {
        right: 1%
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1300px) {
    .eltdf-call-to-action-holder .eltdf-grid {
        width: 1100px
    }
}

@media only screen and (max-width: 1200px) {
    .eltdf-call-to-action-holder.eltdf-four-fifths-columns .eltdf-cta-text-holder, .eltdf-call-to-action-holder.eltdf-three-quarters-columns .eltdf-cta-text-holder {
        width: 66.66666666666667%
    }

    .eltdf-call-to-action-holder.eltdf-four-fifths-columns .eltdf-cta-button-holder, .eltdf-call-to-action-holder.eltdf-three-quarters-columns .eltdf-cta-button-holder {
        width: 33.33333333333333%
    }

    .eltdf-countdown .countdown-row .countdown-section .countdown-amount {
        font-size: 60px
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-call-to-action-holder.eltdf-normal-layout .eltdf-cta-button-holder, .eltdf-call-to-action-holder.eltdf-normal-layout .eltdf-cta-inner, .eltdf-call-to-action-holder.eltdf-normal-layout .eltdf-cta-text-holder {
        display: block
    }

    .eltdf-call-to-action-holder.eltdf-normal-layout .eltdf-cta-button-holder {
        margin: 28px 0 0;
        text-align: initial
    }

    .eltdf-call-to-action-holder.eltdf-four-fifths-columns .eltdf-cta-button-holder, .eltdf-call-to-action-holder.eltdf-four-fifths-columns .eltdf-cta-text-holder, .eltdf-call-to-action-holder.eltdf-three-quarters-columns .eltdf-cta-button-holder, .eltdf-call-to-action-holder.eltdf-three-quarters-columns .eltdf-cta-text-holder, .eltdf-call-to-action-holder.eltdf-two-halves-columns .eltdf-cta-button-holder, .eltdf-call-to-action-holder.eltdf-two-halves-columns .eltdf-cta-text-holder, .eltdf-call-to-action-holder.eltdf-two-thirds-columns .eltdf-cta-button-holder, .eltdf-call-to-action-holder.eltdf-two-thirds-columns .eltdf-cta-text-holder {
        width: 100%
    }

    .eltdf-countdown .countdown-row.countdown-show4 .countdown-section, .eltdf-countdown .countdown-row.countdown-show5 .countdown-section, .eltdf-countdown .countdown-row.countdown-show6 .countdown-section {
        width: 33.33333333333333%
    }

    .eltdf-countdown .countdown-row .countdown-section .countdown-amount {
        font-size: 50px
    }

    .eltdf-custom-font-holder.eltdf-disable-title-break br {
        display: none
    }
}

@media only screen and (max-width: 1366px) {
    .eltdf-elements-holder.eltdf-responsive-mode-1366.eltdf-five-columns .eltdf-eh-item, .eltdf-elements-holder.eltdf-responsive-mode-1366.eltdf-four-columns .eltdf-eh-item, .eltdf-elements-holder.eltdf-responsive-mode-1366.eltdf-six-columns .eltdf-eh-item, .eltdf-elements-holder.eltdf-responsive-mode-1366.eltdf-three-columns .eltdf-eh-item, .eltdf-elements-holder.eltdf-responsive-mode-1366.eltdf-two-columns .eltdf-eh-item {
        width: 100%;
        height: auto;
        display: inline-block
    }

    .eltdf-elements-holder.eltdf-responsive-mode-1366.eltdf-one-column-alignment-left .eltdf-eh-item .eltdf-eh-item-content {
        text-align: left
    }

    .eltdf-elements-holder.eltdf-responsive-mode-1366.eltdf-one-column-alignment-right .eltdf-eh-item .eltdf-eh-item-content {
        text-align: right
    }

    .eltdf-elements-holder.eltdf-responsive-mode-1366.eltdf-one-column-alignment-center .eltdf-eh-item .eltdf-eh-item-content {
        text-align: center
    }
}

@media only screen and (max-width: 1024px) {
    .eltdf-btn.eltdf-btn-huge, .eltdf-btn.eltdf-btn-large {
        padding: 9px 39px
    }

    .eltdf-elements-holder.eltdf-responsive-mode-1024.eltdf-five-columns .eltdf-eh-item, .eltdf-elements-holder.eltdf-responsive-mode-1024.eltdf-four-columns .eltdf-eh-item, .eltdf-elements-holder.eltdf-responsive-mode-1024.eltdf-six-columns .eltdf-eh-item, .eltdf-elements-holder.eltdf-responsive-mode-1024.eltdf-three-columns .eltdf-eh-item, .eltdf-elements-holder.eltdf-responsive-mode-1024.eltdf-two-columns .eltdf-eh-item {
        width: 100%;
        height: auto;
        display: inline-block
    }

    .eltdf-elements-holder.eltdf-responsive-mode-1024.eltdf-one-column-alignment-left .eltdf-eh-item .eltdf-eh-item-content {
        text-align: left
    }

    .eltdf-elements-holder.eltdf-responsive-mode-1024.eltdf-one-column-alignment-right .eltdf-eh-item .eltdf-eh-item-content {
        text-align: right
    }

    .eltdf-elements-holder.eltdf-responsive-mode-1024.eltdf-one-column-alignment-center .eltdf-eh-item .eltdf-eh-item-content {
        text-align: center
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-elements-holder.eltdf-responsive-mode-768.eltdf-five-columns .eltdf-eh-item, .eltdf-elements-holder.eltdf-responsive-mode-768.eltdf-four-columns .eltdf-eh-item, .eltdf-elements-holder.eltdf-responsive-mode-768.eltdf-six-columns .eltdf-eh-item, .eltdf-elements-holder.eltdf-responsive-mode-768.eltdf-three-columns .eltdf-eh-item, .eltdf-elements-holder.eltdf-responsive-mode-768.eltdf-two-columns .eltdf-eh-item {
        width: 100%;
        height: auto;
        display: inline-block
    }

    .eltdf-elements-holder.eltdf-responsive-mode-768.eltdf-one-column-alignment-left .eltdf-eh-item .eltdf-eh-item-content {
        text-align: left
    }

    .eltdf-elements-holder.eltdf-responsive-mode-768.eltdf-one-column-alignment-right .eltdf-eh-item .eltdf-eh-item-content {
        text-align: right
    }

    .eltdf-elements-holder.eltdf-responsive-mode-768.eltdf-one-column-alignment-center .eltdf-eh-item .eltdf-eh-item-content {
        text-align: center
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-countdown .countdown-row .countdown-section .countdown-amount {
        font-size: 40px
    }

    .eltdf-elements-holder.eltdf-responsive-mode-680.eltdf-five-columns .eltdf-eh-item, .eltdf-elements-holder.eltdf-responsive-mode-680.eltdf-four-columns .eltdf-eh-item, .eltdf-elements-holder.eltdf-responsive-mode-680.eltdf-six-columns .eltdf-eh-item, .eltdf-elements-holder.eltdf-responsive-mode-680.eltdf-three-columns .eltdf-eh-item, .eltdf-elements-holder.eltdf-responsive-mode-680.eltdf-two-columns .eltdf-eh-item {
        width: 100%;
        height: auto;
        display: inline-block
    }

    .eltdf-elements-holder.eltdf-responsive-mode-680.eltdf-one-column-alignment-left .eltdf-eh-item .eltdf-eh-item-content {
        text-align: left
    }

    .eltdf-elements-holder.eltdf-responsive-mode-680.eltdf-one-column-alignment-right .eltdf-eh-item .eltdf-eh-item-content {
        text-align: right
    }

    .eltdf-elements-holder.eltdf-responsive-mode-680.eltdf-one-column-alignment-center .eltdf-eh-item .eltdf-eh-item-content {
        text-align: center
    }
}

@media only screen and (max-width: 480px) {
    .eltdf-elements-holder.eltdf-responsive-mode-480.eltdf-five-columns .eltdf-eh-item, .eltdf-elements-holder.eltdf-responsive-mode-480.eltdf-four-columns .eltdf-eh-item, .eltdf-elements-holder.eltdf-responsive-mode-480.eltdf-six-columns .eltdf-eh-item, .eltdf-elements-holder.eltdf-responsive-mode-480.eltdf-three-columns .eltdf-eh-item, .eltdf-elements-holder.eltdf-responsive-mode-480.eltdf-two-columns .eltdf-eh-item {
        width: 100%;
        height: auto;
        display: inline-block
    }

    .eltdf-elements-holder.eltdf-responsive-mode-480.eltdf-one-column-alignment-left .eltdf-eh-item .eltdf-eh-item-content {
        text-align: left
    }

    .eltdf-elements-holder.eltdf-responsive-mode-480.eltdf-one-column-alignment-right .eltdf-eh-item .eltdf-eh-item-content {
        text-align: right
    }

    .eltdf-elements-holder.eltdf-responsive-mode-480.eltdf-one-column-alignment-center .eltdf-eh-item .eltdf-eh-item-content {
        text-align: center
    }

    .eltdf-elements-holder .eltdf-eh-item-content {
        padding: 0 10px
    }
}

@media only screen and (max-width: 1024px) {
    .eltdf-google-map-overlay, .eltdf-preview-slider {
        display: block
    }

    .eltdf-preview-slider .eltdf-ps-text-holder.right {
        padding: 0
    }

    .eltdf-preview-slider .eltdf-ps-images-holder {
        width: 100%;
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
        padding: 0
    }

    .eltdf-preview-slider .eltdf-ps-images-holder .eltdf-ps-laptop-slider {
        width: 100%
    }

    .eltdf-preview-slider .eltdf-ps-images-holder .eltdf-ps-tablet-slider {
        left: 41%;
        top: 9.8%;
        width: 100%
    }

    .eltdf-preview-slider .eltdf-ps-images-holder .eltdf-ps-mobile-slider {
        width: 100%;
        height: 100%;
        left: 56%
    }

    .eltdf-preview-slider .eltdf-ps-images-holder .eltdf-ps-tablet-holder {
        width: 30%
    }

    .eltdf-preview-slider .eltdf-ps-images-holder .eltdf-ps-mobile-holder {
        width: 16%;
        left: 320px;
        bottom: 35px
    }

    .eltdf-preview-slider .eltdf-ps-images-holder .eltdf-ps-laptop-frame, .eltdf-preview-slider .eltdf-ps-images-holder .eltdf-ps-phone-frame, .eltdf-preview-slider .eltdf-ps-images-holder .eltdf-ps-phone-mask, .eltdf-preview-slider .eltdf-ps-images-holder .eltdf-ps-tablet-frame {
        max-width: initial
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-preview-slider .eltdf-ps-images-holder-inner {
        display: block
    }

    .eltdf-preview-slider .eltdf-ps-images-holder-inner .eltdf-ps-mobile-holder, .eltdf-preview-slider .eltdf-ps-images-holder-inner .eltdf-ps-tablet-holder {
        display: none
    }

    .eltdf-preview-slider .eltdf-ps-images-holder-inner .eltdf-ps-laptop-holder {
        width: 90%;
        display: block;
        margin: 20px auto
    }

    .eltdf-preview-slider .eltdf-ps-images-holder-inner .eltdf-ps-laptop-holder > img {
        z-index: 1
    }

    .eltdf-preview-slider .eltdf-ps-images-holder-inner .eltdf-ps-laptop-holder .eltdf-ps-laptop-frame {
        max-width: 100%
    }

    .eltdf-preview-slider .eltdf-ps-images-holder-inner .eltdf-ps-laptop-holder .eltdf-ps-laptop-slider {
        width: 71.5%
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-pricing-holder .eltdf-pricing-img, .eltdf-pricing-holder .eltdf-pricing-title {
        display: inline-block;
        width: auto
    }

    .eltdf-pricing-holder .eltdf-pricing-img {
        margin-bottom: 16px
    }

    .eltdf-pricing-holder .eltdf-pricing-title {
        white-space: normal
    }

    .eltdf-pricing-holder .eltdf-pricing-price {
        display: block;
        width: auto;
        padding-left: 0;
        margin: 2px 0 7px;
        white-space: normal
    }

    .eltdf-pricing-holder .eltdf-pricing-dots {
        display: none
    }

    .eltdf-section-title-holder .eltdf-st-title-holder .decor:first-of-type {
        left: -14px
    }

    .eltdf-section-title-holder .eltdf-st-title-holder .decor:last-of-type {
        right: -14px
    }
}

@media only screen and (max-width: 1024px) {
    .eltdf-rf-holder:not(.eltdf-rf-block) .eltdf-rf-col-holder {
        width: 48%;
        margin: 0 2% 2% 0;
        padding-right: 20px
    }

    .eltdf-rf-holder:not(.eltdf-rf-block) .eltdf-rf-col-holder.eltdf-rf-btn-holder {
        width: 48%;
        margin: 0 2% 2% 0;
        padding-left: 0;
        padding-right: 20px
    }

    .eltdf-rf-holder:not(.eltdf-rf-block) .eltdf-rf-col-holder:nth-child(-n+2) {
        padding-bottom: 20px
    }

    .eltdf-rf-holder:not(.eltdf-rf-block) .eltdf-rf-col-text {
        display: none
    }

    .eltdf-rf-holder:not(.eltdf-rf-block) .eltdf-rf-copyright {
        margin-top: 0
    }
}

@media only screen and (max-width: 480px) {
    .eltdf-rf-holder:not(.eltdf-rf-block) .eltdf-rf-col-holder {
        width: 100%;
        margin: 0 0 20px
    }

    .eltdf-rf-holder:not(.eltdf-rf-block) .eltdf-rf-col-holder.eltdf-rf-btn-holder {
        width: 100%;
        margin: 0 0 20px;
        padding-left: 0
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-section-title-holder {
        padding: 0 !important
    }

    .eltdf-section-title-holder.eltdf-st-disable-title-break .eltdf-st-title br {
        display: none
    }
}

@media only screen and (max-width: 1440px) {
    .eltdf-stacked-images-holder.eltdf-si-position-left .eltdf-si-images .eltdf-si-first-image {
        right: 85px
    }

    .eltdf-stacked-images-holder.eltdf-si-position-right .eltdf-si-images .eltdf-si-first-image {
        left: 85px
    }
}

@media only screen and (max-width: 1399px) {
    .eltdf-stacked-images-holder.eltdf-si-position-left .eltdf-si-images .eltdf-si-first-image {
        right: 75px
    }

    .eltdf-stacked-images-holder.eltdf-si-position-right .eltdf-si-images .eltdf-si-first-image {
        left: 75px
    }
}

@media only screen and (max-width: 1366px) {
    .eltdf-stacked-images-holder.eltdf-si-position-left .eltdf-si-images .eltdf-si-first-image {
        right: 70px
    }

    .eltdf-stacked-images-holder.eltdf-si-position-right .eltdf-si-images .eltdf-si-first-image {
        left: 70px
    }
}

@media only screen and (max-width: 1280px) {
    .eltdf-stacked-images-holder.eltdf-si-position-left .eltdf-si-images .eltdf-si-first-image {
        top: 40px;
        right: 50px
    }

    .eltdf-stacked-images-holder.eltdf-si-position-right .eltdf-si-images .eltdf-si-first-image {
        top: 40px;
        left: 50px
    }
}

@media only screen and (max-width: 1024px) {
    .eltdf-stacked-images-holder.eltdf-si-position-left .eltdf-si-images .eltdf-si-first-image {
        top: 89px;
        right: 181px
    }

    .eltdf-stacked-images-holder.eltdf-si-position-right .eltdf-si-images .eltdf-si-first-image {
        top: 89px;
        left: 181px
    }

    .eltdf-tabs.eltdf-tabs-standard .eltdf-tabs-nav li a {
        padding: 7px 21px
    }

    .eltdf-tabs.eltdf-tabs-boxed .eltdf-tabs-nav li {
        margin: 0 8px 0 0
    }

    .eltdf-tabs.eltdf-tabs-boxed .eltdf-tabs-nav li a {
        padding: 7px 18px
    }

    .eltdf-tabs.eltdf-tabs-simple .eltdf-tabs-nav li {
        margin: 0 26px 0 0
    }

    .eltdf-tabs.eltdf-tabs-vertical .eltdf-tabs-nav {
        width: 180px
    }

    .eltdf-tabs.eltdf-tabs-vertical .eltdf-tab-container {
        width: calc(100% - 180px);
        padding: 0 0 0 30px
    }
}

@media only screen and (max-width: 480px) {
    .eltdf-stacked-images-holder.eltdf-si-position-left .eltdf-si-images .eltdf-si-second-image {
        right: 20px
    }

    .eltdf-stacked-images-holder.eltdf-si-position-left .eltdf-si-images .eltdf-si-first-image {
        right: 40px
    }

    .eltdf-stacked-images-holder.eltdf-si-position-right .eltdf-si-images .eltdf-si-second-image {
        left: 20px
    }

    .eltdf-stacked-images-holder.eltdf-si-position-right .eltdf-si-images .eltdf-si-first-image {
        left: 40px
    }

    .eltdf-stacked-images-holder .eltdf-si-images.eltdf-appeared .eltdf-si-first-image, .eltdf-stacked-images-holder .eltdf-si-images.eltdf-appeared .eltdf-si-third-image {
        top: 24px
    }

    .eltdf-stacked-images-holder.eltdf-background-svg.eltdf-si-position-left .eltdf-si-images .eltdf-si-first-image {
        top: -32px;
        right: -64px;
        -webkit-transform: scale(.7);
        -ms-transform: scale(.7);
        transform: scale(.7)
    }

    .eltdf-stacked-images-holder.eltdf-background-svg.eltdf-si-position-right .eltdf-si-images .eltdf-si-first-image {
        top: -26px;
        left: -32px;
        -webkit-transform: scale(.7);
        -ms-transform: scale(.7);
        transform: scale(.7)
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-tabs.eltdf-tabs-boxed .eltdf-tabs-nav li a, .eltdf-tabs.eltdf-tabs-standard .eltdf-tabs-nav li a {
        width: 100%
    }

    .eltdf-tabs.eltdf-tabs-standard .eltdf-tabs-nav li {
        display: block;
        float: none
    }

    .eltdf-tabs.eltdf-tabs-boxed .eltdf-tabs-nav li {
        display: block;
        float: none;
        margin: 0 0 8px
    }

    .eltdf-tabs.eltdf-tabs-simple .eltdf-tabs-nav li {
        margin: 0 20px 0 0
    }

    .eltdf-tabs.eltdf-tabs-vertical .eltdf-tab-container, .eltdf-tabs.eltdf-tabs-vertical .eltdf-tabs-nav {
        display: inline-block;
        width: 100%;
        height: auto
    }

    .eltdf-tabs.eltdf-tabs-vertical .eltdf-tabs-nav {
        border-right: 0
    }

    .eltdf-tabs.eltdf-tabs-vertical .eltdf-tabs-nav li {
        float: left;
        margin: 0 20px 0 0
    }

    .eltdf-tabs.eltdf-tabs-vertical .eltdf-tab-container {
        padding: 31px 0 0
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-tabs.eltdf-tabs-simple .eltdf-tabs-nav li, .eltdf-tabs.eltdf-tabs-vertical .eltdf-tabs-nav li {
        display: block;
        float: none;
        margin: 0 0 20px
    }

    .eltdf-tabs.eltdf-tabs-simple .eltdf-tabs-nav {
        padding: 0 0 20px
    }

    .eltdf-tabs.eltdf-tabs-simple .eltdf-tabs-nav li a, .eltdf-tabs.eltdf-tabs-vertical .eltdf-tabs-nav li a {
        padding: 0;
        width: 100%
    }
}

@media only screen and (max-width: 1024px) {
    body.eltdf-vss-initialized {
        overflow-y: visible !important;
        height: auto !important
    }

    #multiscroll-nav, .eltdf-vertical-split-slider {
        display: none
    }

    .eltdf-vss-responsive {
        display: block
    }

    .eltdf-vss-responsive .eltdf-vss-ms-section .ms-tableCell {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%
    }

    .eltdf-vss-responsive .eltdf-vss-ms-section:not(:first-child) {
        height: 100vh !important
    }
}

@media only screen and (max-width: 1280px) {
    .eltdf-instagram-list-holder.eltdf-il-five-columns .eltdf-il-item, .eltdf-instagram-list-holder.eltdf-il-four-columns .eltdf-il-item {
        width: 33.33333%
    }
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) {
    .eltdf-instagram-list-holder.eltdf-il-five-columns .eltdf-il-item:nth-child(3n+1), .eltdf-instagram-list-holder.eltdf-il-four-columns .eltdf-il-item:nth-child(3n+1) {
        clear: both
    }
}

@media only screen and (max-width: 1024px) {
    .eltdf-instagram-list-holder.eltdf-il-five-columns .eltdf-il-item, .eltdf-instagram-list-holder.eltdf-il-four-columns .eltdf-il-item, .eltdf-instagram-list-holder.eltdf-il-three-columns .eltdf-il-item {
        width: 50%
    }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
    .eltdf-instagram-list-holder.eltdf-il-five-columns .eltdf-il-item:nth-child(2n+1), .eltdf-instagram-list-holder.eltdf-il-four-columns .eltdf-il-item:nth-child(2n+1) {
        clear: both
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-instagram-list-holder .eltdf-il-item {
        width: 100% !important
    }
}

@media only screen and (max-width: 1024px) {
    .eltdf-instagram-feed:not(.eltdf-instagram-carousel) li img {
        width: 100%
    }

    .eltdf-instagram-feed:not(.eltdf-instagram-carousel).eltdf-col-6 li, .eltdf-instagram-feed:not(.eltdf-instagram-carousel).eltdf-col-9 li {
        width: 25%
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-instagram-feed:not(.eltdf-instagram-carousel).eltdf-col-6 li, .eltdf-instagram-feed:not(.eltdf-instagram-carousel).eltdf-col-9 li {
        width: 33.33333%
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-instagram-feed:not(.eltdf-instagram-carousel) li {
        width: 50% !important
    }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

@media only screen and (min-width: 681px) and (max-width: 768px) {
}

@media only screen and (max-width: 680px) {
    h1 {
        font-size: 31px;
        line-height: 41px
    }

    h2 {
        font-size: 26px;
        line-height: 36px
    }

    h3 {
        font-size: 22px;
        line-height: 31px
    }

    h4 {
        font-size: 19px;
        line-height: 28px
    }

    h5 {
        font-size: 16px;
        line-height: 25px
    }

    h6 {
        font-size: 14px;
        line-height: 22px
    }
}
