@import url('https://fonts.googleapis.com/css?family=Heebo:400,500&amp;display=swap');

@media screen and (max-width: 768px) {
    .rbt-toolbar {
        display: none;
    }
}

div.rbt-toolbar {
    font-family: 'Heebo', sans-serif !important;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    text-transform: none;
}

div.rbt-toolbar svg {
    position: initial;
}

div.rbt-toolbar * {
    font-family: 'Heebo', sans-serif !important;
}

div.rbt-toolbar a {
    display: block;
    font-size: 0;
    line-height: 0;
}

div.rbt-toolbar a img {
    display: inline-block;
}

section.rbt-sidearea {
    width: 282px;
    height: 100%;
    min-height: 100%;
    position: fixed;
    right: -282px;
    top: 0;
    z-index: 6669991;
    -webkit-transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

body.admin-bar section.rbt-sidearea {
    height: calc(100% - 32px);
    min-height: calc(100% - 32px);
    top: 32px;
}

.rbt-sidearea.rbt-active {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    box-shadow: 0 0 9.8px 0.2px rgba(0, 0, 0, 0.14);

}

.rbt-theme-dropdown,
.rbt-purchase {
    line-height: 42px;
    font-family: 'Heebo', sans-serif;
    display: block;
    width: 115px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all .25s cubic-bezier(0.23, 1, 0.32, 1) .45s;
    transition: all .25s cubic-bezier(0.23, 1, 0.32, 1) .45s;
}

.rbt-loaded .rbt-theme-dropdown,
.rbt-loaded .rbt-purchase {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.rbt-active .rbt-theme-dropdown,
.rbt-active .rbt-purchase {
    -webkit-transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transform: translateX(73px);
    transform: translateX(73px);
}

.rbt-scrolled .rbt-theme-dropdown,
.rbt-scrolled .rbt-purchase {
    -webkit-transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transform: translateX(73px);
    transform: translateX(73px);
}

.rbt-purchase,
.rbt-theme-dropdown {
    position: absolute;
    left: -115px;
    z-index: 6669992;
    font-size: 10px !important;
    letter-spacing: .11em;
    display: block;
    height: 42px;
    width: 115px;
}

.rbt-purchase {
    background-color: #fff;
    box-shadow: 0 0 9.8px 0.2px rgba(0, 0, 0, 0.1);
}

.rbt-theme-dropdown {
    background-color: #ef2853;
}

.rbt-theme-dropdown .rbt-icon svg {
    transition: opacity .1s ease;
}


.rbt-theme-dropdown .rbt-icon svg:nth-child(2) {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rbt-active .rbt-theme-dropdown .rbt-icon svg:nth-child(1) {
    opacity: 0;
    transition-delay: .2s;
}

.rbt-active .rbt-theme-dropdown .rbt-icon svg:nth-child(2) {
    opacity: 1;
    transition-delay: .3s;
}

.rbt-theme-dropdown .rbt-btn,
.rbt-purchase a {
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 0 !important;
    line-height: 42px !important;
    font-weight: 500;
}

span.rbt-icon {
    color: #fff;
    width: 42px;
    display: inline-block;
    line-height: 1 !important;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

span.rbt-purchase-text,
span.rbt-text-name {
    line-height: 1 !important;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}

.rbt-active .rbt-purchase-text,
.rbt-active .rbt-text-name {
    opacity: 0;
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
}

span.rbt-purchase-text {
    color: #000;
    font-size: 10px !important;
    letter-spacing: .11em !important;
}

span.rbt-text-name {
    color: #fff;
    font-size: 10px !important;
    letter-spacing: .11em !important;
}

.rbt-list-holder {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 6669993;
    background-color: #fff;
}

.rbt-list {
    height: calc(100% - 40px - 11px);
    font-weight: 400;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 13px 29px;
    box-sizing: border-box;
    background-color: #fff;
    margin-right: -18px;
}

.rbt-list > a {
    display: block;
}

.rbt-list-new, .rbt-list-related {
    font-size: 12px;
    color: #000;
    font-weight: 500;
    display: inline-block;
    margin: 16px 0 10px;
    text-transform: uppercase;
    letter-spacing: .13em;
}

.rbt-theme {
    text-align: left;
    font-size: 0;
    line-height: 0;
    margin: 0 0 23px;
}

.rbt-list a:last-child .rbt-theme {
    margin: 0;
}

.rbt-img-hover {
    background-color: #fbf9f9;
    position: relative;
    display: inline-block;
    box-shadow: 0 0 10.28px 1.72px rgba(0, 0, 0, .03);
}

.rbt-img-hover:after {
    content: '';
    opacity: 0;
    background-color: rgba(255, 255, 255, .15);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}

.rbt-theme:hover .rbt-img-hover:after {
    opacity: 1;
}

.rbt-img-hover.rbt-lazy-load img {
    opacity: 0;
}

.rbt-img-hover img {
    opacity: 1;
    display: block;
    width: 100%;
    transition: opacity 0.5s ease;
}

.rbt-list-inner {
    max-width: 225px;
}

.rbt-theme-name {
    font-size: 14px !important;
    line-height: 15px !important;
    color: #000;
    display: block;
    margin: 8px 0 2px;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    transition: color .2s ease-out;
    text-transform: capitalize !important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
}

.rbt-theme-tag {
    vertical-align: middle;
    color: #a6a6a6;
    display: inline-block;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    line-height: 20px;
    width: 80%;
}

.rbt-theme-price {
    vertical-align: middle;
    color: #000;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .02em;
    text-transform: uppercase;
    line-height: 20px;
    width: 20%;
    text-align: right;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

.rbt-logo {
    width: 100%;
    display: block;
    padding: 7px 0;
    box-sizing: border-box;
}

.rbt-logo .logo-svg-holder {
    display: inline-block;
    vertical-align: middle;
}

.rbt-logo .logo-text-holder {
    vertical-align: middle;
    display: inline-block;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 0 10px;
    letter-spacing: 0;
}

.rbt-list-bottom {
    height: 40px;
    background-color: #ee2852;
    width: 100%;
    display: block;
    position: relative;
    bottom: 0;
    margin-top: 11px;
    box-shadow: 0 0 7.28px 0.72px rgba(199, 199, 199, 0.2);
}

.rbt-list-bottom .rbt-link-holder {
    font-size: 0;
    line-height: 40px;
    text-align: center;
}

.rbt-link-holder .link-svg-holder {
    display: inline-block;
    margin-left: 7px;
    line-height: 30px;
    vertical-align: bottom;
}

.rbt-link-holder .link-text-holder {
    display: inline-block;
    color: #fff;
    font-size: 9px;
    font-weight: 500;
    margin: 0;
    letter-spacing: .13em;
    line-height: 35px;
    vertical-align: bottom;
}
