
.page-id-7 .eltdf-content .eltdf-content-inner > .eltdf-container > .eltdf-container-inner, .page-id-7 .eltdf-content .eltdf-content-inner > .eltdf-full-width > .eltdf-full-width-inner {
    padding: 0 0;
}

@media only screen and (max-width: 1024px) {
    .page-id-7 .eltdf-content .eltdf-content-inner > .eltdf-container > .eltdf-container-inner, .page-id-7 .eltdf-content .eltdf-content-inner > .eltdf-full-width > .eltdf-full-width-inner {
        padding: 0 0;
    }
}

.page-id-7 .eltdf-content .eltdf-content-inner > .eltdf-container > .eltdf-container-inner, .page-id-7 .eltdf-content .eltdf-content-inner > .eltdf-full-width > .eltdf-full-width-inner {
    padding: 0 0;
}

@media only screen and (max-width: 1024px) {
    .page-id-7 .eltdf-content .eltdf-content-inner > .eltdf-container > .eltdf-container-inner, .page-id-7 .eltdf-content .eltdf-content-inner > .eltdf-full-width > .eltdf-full-width-inner {
        padding: 0 0;
    }
}

.eltdf-page-header .eltdf-header-widget-area-one:last-of-type {
    padding-right: 80px;
}

.page-id-7 .eltdf-page-header .eltdf-menu-area {
    background-color: rgba(0, 0, 0, 0);
}

.page-id-7 .eltdf-page-footer .eltdf-footer-top-holder {
    border-width: 0px;
}


.eltdf-header-double-grid-line-one, .eltdf-header-double-grid-line-two {
    height: 110px;
}

.eltdf-footer-top-holder .widget_nav_menu ul li {
    display: inline-block !important;
}

.eltdf-google-map-holder .eltdf-google-map {
    color: initial;
}

.eltdf-main-home-delayed-image img {
    transition: 1.2s cubic-bezier(.63, .25, .25, 1) .3s !important;
}

.eltdf-main-home-svg-pattern {
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0 62%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 62%);
}

@media only screen and (max-width: 1440px) {

    .eltdf-main-home-middle-svg-pattern svg {
        transform: scale(0.84);
    }
}

@media only screen and (max-width: 1400px) {

    .eltdf-main-home-middle-svg-pattern svg {
        transform: scale(0.77);
    }
}

@media only screen and (max-width: 1366px) {

    .eltdf-main-home-middle-svg-pattern svg {
        transform: scale(0.76);
    }
}

@media only screen and (max-width: 1280px) {

    .eltdf-main-home-middle-svg-pattern svg {
        transform: scale(0.72);
    }
}

@media only screen and (max-width: 1024px) {

    .eltdf-main-home-middle-svg-pattern {
        width: 100%;
        display: inline-flex;
        justify-content: center;
    }

    .eltdf-main-home-middle-svg-pattern svg {
        transform: scale(0.56);
    }
}

@media only screen and (max-width: 768px) {

    .eltdf-main-home-middle-svg-pattern svg {
        transform: scale(0.43);
    }
}

@media only screen and (max-width: 680px) {

    .eltdf-main-home-middle-svg-pattern svg {
        transform: scale(1);
    }
}

.vc_custom_1578664464836 {
    padding-top: 153px !important;
}

.vc_custom_1577721730223 {
    padding-top: 160px !important;
    padding-bottom: 160px !important;
}

.vc_custom_1577721733574 {
    padding-top: 150px !important;
    padding-bottom: 70px !important;
}

.vc_custom_1577721767438 {
    padding-top: 35px !important;
    padding-bottom: 160px !important;
}

.vc_custom_1577721744350 {
    padding-top: 160px !important;
    padding-bottom: 160px !important;
}

.vc_custom_1574159245515 {
    padding-top: 11.2% !important;
    padding-bottom: 11.2% !important;
}

.vc_custom_1573549706260 {
    padding-top: 150px !important;
    padding-bottom: 66px !important;
}

.vc_custom_1573574980934 {
    padding-bottom: 152px !important;
}

.vc_custom_1577182567213 {
    padding-top: 115px !important;
    padding-bottom: 110px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1578912658047 {
    margin-top: -15% !important;
}

html {
    scroll-behavior: smooth;
}

img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

.logo-garnet {
    max-width: 100%;
    margin: auto;
    height: auto;
    position: relative;
    top: -50px;
}

.logo-garnet-f {
    max-width: 100%;
    margin: auto;
    height: auto;
    position: relative;
    top: -10px;
}

.centered {
    text-align: center;
}

.farsi {
    font-family: metropolis1920regular;
}


#overlay {
    display: none;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(11, 19, 21);
    z-index: 2000000000000000000000000000000000000000;
    cursor: pointer;
    position: absolute;
}

.close-menu {
    font-weight: bold;
    color: rgb(201, 171, 129);
    position: absolute;
    right: 4%;
    top: 10px;
}

#gallery {
    cursor: help !important;
}

.menu-page-logo {
    display: block;
    margin: 10px auto 20px auto;
    width: 15%;

}

.max-width-parallel {
    max-width: 100%;
    background-size: cover !important;
}

.pointer {
    cursor: pointer !important;
}

.pad-100 {
    padding: 100px 0 10px 0;
}

.reservation-inputs-second {
    margin: 0 auto 0 auto;
    width: 100% !important;
    text-align: center !important;
    vertical-align: middle;
}

.date-reserve, .time-reserve, .person-reserve, .btn-reserve {
    display: inline-block;
    width: 25% !important;
    padding: 0 20px 0 20px;
}

.date-reserve {
    position: relative;
    top: 20px;
}

.eltdf-rf-holder .eltdf-rf-field-holder.eltdf-rf-date-col:after {
    content: '7';
    display: block;
    font-family: ElegantIcons;
    position: absolute;
    right: 20px;
    top: -15px !important;
    line-height: 50px;
    font-size: 16px;
    color: #c9ab81;
}


#respond input[type=text], #respond textarea,
.eltdf-style-form textarea, .post-password-form input[type=password],
.wpcf7-form-control.wpcf7-date, .wpcf7-form-control.wpcf7-number,
.wpcf7-form-control.wpcf7-quiz, .wpcf7-form-control.wpcf7-select,
.wpcf7-form-control.wpcf7-text, .wpcf7-form-control.wpcf7-textarea,
input[type=text]:not(.eltdf-ot-date), input[type=email], input[type=password] {
    position: relative;
    width: 100%;
    margin: 20px 0 28px !important;
    padding: 7px 23px 3px;
    font-family: inherit;
    font-size: 19px;
    font-weight: inherit;
    line-height: calc(50px - (14px - 2px));
    color: #fff;
    background-color: transparent;
    border: 1px solid #715b3e;
    border-radius: 0;
    outline: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color .2s
}

.menu-cover {
    height: 300px;
    overflow-y: hidden
}

.menu-img {
    position: relative;
    bottom: 30%;
    overflow: hidden;
    width: 100%;
    height: auto;
    filter: contrast(180%);
}


.eltdf-map {
    overflow: hidden;
    width: 400px;
    height: 450px !important;
    margin: 50px auto 0 auto !important;
    border: 3px rgb(113, 91, 62) solid
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent; /* Fallback color */
}

/* Modal Content/Box */
.modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid goldenrod;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 150px;
    background-color: #0b1315;
    position: relative;
    z-index: 1000;
    transition: all .6s cubic-bezier(.77, 0, .175, 1);
}

.site-back {
    background-color: #0b1315 !important;
}

/* The Close Button */
.close {
    color: rgb(201, 171, 129);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.reservation-inputs-first {
    margin: 0 auto 0 auto;
    width: 75%;
    text-align: center !important;
    vertical-align: middle;
}

.initial-value {
    position: relative;
    bottom: 18px !important;
}

.datepicker-plot-area .datepicker-navigator {
    display: block;
    width: 100%;
    float: left;
    background-color: rgb(201, 171, 129);
}


.datepicker-plot-area .datepicker-day-view
.table-days td.selected span, .datepicker-plot-area
.datepicker-year-view .year-item.selected, .datepicker-plot-area
.datepicker-month-view .month-item.selected {
    background-color: rgb(201, 171, 129);
    color: #fff;
    border: none;
    text-shadow: 1px 1px 1px #000;
}


.datepicker-plot-area .datepicker-day-view .table-days td.selected span .datepicker-plot-area .datepicker-day-view .table-days td:hover, .datepicker-plot-area .datepicker-day-view .table-days td span:hover, .datepicker-plot-area .datepicker-year-view .year-item:hover, .datepicker-plot-area .datepicker-month-view .month-item:hover {
    background-color: rgb(201, 171, 129);

}


.datepicker-plot-area {
    width: 230px;
    background-color: rgb(17, 29, 34);
    border-color: rgb(201, 171, 129);
}

.datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell,
.datepicker-plot-area .toolbox .pwt-btn-submit, .datepicker-plot-area .toolbox .pwt-btn-calendar,
.datepicker-plot-area .toolbox .pwt-btn-today {
    color: rgb(201, 171, 129);
}


.datepicker-plot-area .toolbox .pwt-btn-submit,
.datepicker-plot-area .toolbox .pwt-btn-calendar,
.datepicker-plot-area .toolbox .pwt-btn-today {
    text-align: center;
    float: none !important;
    display: inline-block;
    margin: auto auto 5px auto;
    color: rgb(201, 171, 129);
}

.on-top {
    z-index: 10000000000;
}

.error-list {
    color: rgb(201, 171, 129);
}

.error {
    font-size: x-large;
}

.wpcf7-phone, .eltdf-reviews-email {
    display: none !important;
}

.admin-table {
    position: relative;
    height: auto !important;
    width: auto !important;
    vertical-align: middle;
    padding: 120px !important;
    text-align: left;
    overflow: auto;
}

.golden {
    background-color: rgb(113, 91, 62);
    width: 100% !important;
    height: 1px;
}

.gold-bg {
    background-color: rgb(201, 171, 129) !important;
}

.table-p {
    padding: 15px;
    vertical-align: middle;
}

.width-table-15 {
    width: 15%;
}

.width-table-20 {
    width: 20%;
}

.width-table-70 {
    width: 70%;
}

.text-center {
    text-align: center;
    horiz-align: center;
}

.close-golden {
    width: 25px;
    text-align: center;
    cursor: pointer;
}

.vertical-align {
    vertical-align: middle;
}

.pointer {
    cursor: pointer;
}

.close-player {
    background-color: #3d4852;
    color: white;
    float: right;
}

#main-player {
    position: fixed;
    display: none;
    z-index: 9999999999999999;
    bottom: 5%;
    right: 5%;
    left: 5%;
    top: 5%;
}

#my-video {
    width: 85%;
    height: 95%;
    margin: auto;
}

.smaller {
    font-size: small;
}

.admin {
    position: relative;
}

.admin:hover, .animation:hover {
    display: inline-block;
    margin: 0 0.5rem;
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}


.developer:active {
    display: inline-block;
    margin: 0 0.5rem;
    animation: rollOut; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}


#localization {
    list-style: none;
    display: inline-block;
    width: auto;
    position: absolute;
    left: 93%;
    z-index: 999;
    opacity: 0.65;
}


#localization a {
    margin: 0;
    cursor: pointer !important;
}

.localization-link {
    cursor: pointer !important;
}

.localization-img {
    width: 30px;
}

#localization a:hover {
    display: inline-block;
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

.footer-rights {
    font-size: smaller;
}

.eltdf-page-footer {
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    #my-video {
        height: 40%;
    }

    .menu-cover {
        height: auto !important;

    }
}

.whitish {
    color: white !important;
}

.error404 .eltdf-page-not-found .eltdf-404-title {
    margin: 0;
}

.error404 .eltdf-page-not-found .eltdf-404-text {
    margin: 10px 0 0;
}

.eltdf-404-text {
    font-family: josefin sans, sans-serif;
    font-size: 19px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0;
    text-transform: none;
    overflow-x: hidden !important;
}

.eltdf-404-text-error {
    font-family: open sans condensed, sans-serif;
    font-size: 14px;
    line-height: 2em;
    letter-spacing: .65em !important;
    text-transform: uppercase;
}

@media only screen and (max-width: 1018px) {

    #localization {
        display: inline-block;
        left: 45%;
    }

}


@media only screen and (max-width: 600px) {

    .reservation-inputs-second {
        margin: auto;
    }


    .date-reserve, .time-reserve, .person-reserve, .btn-reserve {
        display: block;
        width: 80% !important;
        margin: auto;
    }

    .time-reserve {
        margin-bottom: 20px;
    }


}

@media only screen and (max-width: 1000px) {

    .date-reserve, .btn-reserve {
        position: relative !important;
        /*width: 70% !important;*/
        margin: 50px auto 10px auto !important;
    }


}



