<template>
    <div>
        <video-player :options="videoOptions"/>
    </div>
</template>

<script>
    import VideoPlayer from "./VideoPlayer.vue";

    export default {
        name: "VideoExample",
        components: {
            VideoPlayer
        },
        data() {
            return {
                videoOptions: {
                    autoplay: true,
                    controls: true,
                    preload :"auto",
                    width:"600",
                    height:"600",
                    sources: [
                        {
                            src:
                                "./feelings.mp4",
                            type: "video/mp4"
                        }
                    ]
                }
            };
        }
    };
</script>
